body{
	
background-color:limegreen;

}

#shoutbox{

    max-height: 400px;
    overflow: scroll;
    overflow-y: scroll;
overflow-x: hidden;
background-color:white;
}

.odd { background-color:#6066; }

#massage{
 width: 100%;
}